@{
    ViewData["Title"] = "Confirmação de apagar a conta";
}
<br />
<br />
<div class="text-center">
    <h3>Realmente deseja apagar o contato?</h3>
</div>
<br />
<br />
<div class="d-grid gap-2">
    <a class="btn btn-danger btn-block" role="button"asp-controller="Contas" asp-action="Index" role="button">Cancelar</a>
    <a class="btn btn-primary btn-block" role="button">Confirmar</a>
</div>