@{
    ViewData["Title"] = "Criar conta";
}
<div class="text-center">
   
    <h1 class="display-4">Cadastrar Contas</h1>

    

</div>

<form>
  <div class="mb-3">
    <label for="nome" >Conta</label>
    <input type="text" class="form-control" placeholder="Digite a conta">
  </div>

   <div class="mb-3">
    <label for="nome" >Valor</label>
    <input type="number" class="form-control" placeholder="Digite o valor">
  </div>

   <div class="mb-3">
    <label for="nome" >Data do Vencimento</label>
    <input type="date" class="form-control" >
  </div>
  
  <button type="submit" class="btn btn-primary">Adicionar</button>
  <a class="btn btn-secondary" asp-controller="Contas" asp-action="Index" role="button">Voltar</a>
</form>
